<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Búsqueda avanzada | Mi aplicación</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/sitios.css">
</head>
{% extends "layout.html" %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='sitios.css') }}">
    
{% endblock %}

{% block title %}Búsqueda avanzada | Mi aplicación{% endblock %}

{% block content %}
<h1>Búsqueda Avanzada de Sitios Históricos</h1>

<form method="get" action="{{ url_for('busqueda_avanzada.index') }}">
    
     <label>Provincia:
        <select name="provincia">
            <option value="" {% if provincia=="" %}selected{% endif %}>--Cualquiera--</option>
            {% for p in provincias %}
                <option value="{{ p }}" {% if provincia==p %}selected{% endif %}>{{ p }}</option>
            {% endfor %}
        </select>
    </label>
    <br>
    
    <label>Ciudad:
        <input type="text" name="ciudad" value="{{ ciudad }}">
    </label>
    <br>

    <label>Tags:</label>
    {% for tag in tags %}
        <label>
            <input type="checkbox" name="tags" value="{{ tag.id_tag }}" 
                {% if tag.id_tag in selected_tags %}checked{% endif %}>
            {{ tag.name }}
        </label>
    {% endfor %}
    <br>

    <label>Estado de conservación:
        <select name="estado">
            <option value="" {% if estado=="" %}selected{% endif %}>--Cualquiera--</option>
            <option value="Bueno" {% if estado=="Bueno" %}selected{% endif %}>Bueno</option>
            <option value="Regular" {% if estado=="Regular" %}selected{% endif %}>Regular</option>
            <option value="Malo" {% if estado=="Malo" %}selected{% endif %}>Malo</option>
        </select>
    </label>
    <br>

    <label>Fecha de registro:</label>
    desde
    <input type="date" name="fecha_desde" value="{{ fecha_desde }}">
    hasta
    <input type="date" name="fecha_hasta" value="{{ fecha_hasta }}">
    <br>

    <label>Visibilidad:
        <input type="checkbox" name="visibilidad" value="true" {% if visibilidad=="true" %}checked{% endif %}>
        Mostrar solo visibles
    </label>
    <br>

    <label>Búsqueda por texto:
        <input type="text" name="busqueda_texto" value="{{ busqueda_texto }}">
    </label>
    <br>

    <label>Ordenar por:</label>
    <select name="sort">
        <option value="name" {% if sort=="name" %}selected{% endif %}>Nombre</option>
        <option value="date_registered" {% if sort=="date_registered" %}selected{% endif %}>Fecha de registro</option>
        <option value="city" {% if sort=="city" %}selected{% endif %}>Ciudad</option>
    </select>

    <label>Orden:</label>
    <select name="order">
        <option value="asc" {% if order=="asc" %}selected{% endif %}>Ascendente</option>
        <option value="desc" {% if order=="desc" %}selected{% endif %}>Descendente</option>
    </select>
    <br>

    <button type="submit">Buscar</button>
    <a href="{{ url_for('busqueda_avanzada.index') }}">
        <button type="button">Limpiar filtros</button>
    </a>

</form>

{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    <ul class="flashes">
      {% for category, message in messages %}
        <li class="{{ category }}">{{ message }}</li>
      {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

{% if results %}
<p>Total de resultados: {{ total_results }}</p>
<table border="1" cellpadding="5" cellspacing="0">
    <thead>
        <tr>
            <th>Nombre</th>
            <th >Provincia  </th>
            <th>Ciudad</th>
            <th>Estado de conservación</th>
            <th>Visibilidad</th>
            <th>Fecha de registro</th>
        </tr>
    </thead>
    <tbody>
        {% for r in results %}
        <tr>
            <td>{{ r.name }}</td>
            <td>{{ r.state_rel.name}}</td>
            <td>{{ r.city }}</td>
            <td>{{ r.conservation_state }}</td>
            <td>{% if r.is_visible %}Visible{% else %}No visible{% endif %}</td>
            <td>{{ r.date_registered.strftime("%Y-%m-%d") }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<form id="pagination-form" method="get">

    <input type="hidden" name="ciudad" value="{{ ciudad }}">
    <input type="hidden" name="provincia" value="{{ provincia }}">
    <input type="hidden" name="estado" value="{{ estado }}">
    <input type="hidden" name="busqueda_texto" value="{{ busqueda_texto }}">
    <input type="hidden" name="fecha_desde" value="{{ fecha_desde }}">
    <input type="hidden" name="fecha_hasta" value="{{ fecha_hasta }}">
    <input type="hidden" name="visibilidad" value="{{ visibilidad }}">
    <input type="hidden" name="sort" value="{{ sort }}">
    <input type="hidden" name="order" value="{{ order }}">
    <input type="hidden" name="per_page" value="{{ per_page }}">


    {% for t in selected_tags %}
        <input type="hidden" name="tags" value="{{ t }}">
    {% endfor %}

    <div class="pagination">
        {% if page > 1 %}
            <button type="submit" name="page" value="{{ page-1 }}">Anterior</button>
        {% endif %}

        <span>Página {{ page }} de {{ total_pages }}</span>

        {% if page < total_pages %}
            <button type="submit" name="page" value="{{ page+1 }}">Siguiente</button>
        {% endif %}
    </div>
</form>

{% else %}
<p>No se encontraron resultados.</p>
{% endif %}

<a href="{{ url_for('sites.index') }}">Volver al menu de sitios</a>
{% endblock %}
